.chatbox {
  background-color: red;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatbox-title {
  background-color: black;
  margin-bottom: 5px;
  padding: 8px;
}

.chatbox-body {
  flex: 1 1 auto;
  background-color: black;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 6px;
}
