* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chatbox {
  background-color: #444;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatbox-title-box {
  background-color: #111;
  margin-bottom: 5px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatbox-body {
  flex: 1 1 auto;
  background-color: #222;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 6px;
  display: flex;
  flex-direction: column-reverse;
}

#chat-entry {
  background-color: #111;
  outline: none;
  border: 0px;
  height: 25px;
  padding: 6px;
}

.test-button {
  outline: none;
  border: 0px;
  margin-right: 4px;
  padding: 4px;
  background-color: chocolate;
}
